body {
    color: #ced0d4;
}

p {
    color: #ced0d4;
    font-family: Arial, sans-serif;
}

h3 {
    color: #ced0d4;
    font-family: Arial, sans-serif;
}

pre {
    background-color: #2b2d31;
    color: #ced0d4;
    border: 1px solid #1e1f22;
    border-radius: 0.5rem;
}

a {
    color: #159ffc;
}

a:active {
    color: #594fbd;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 0.5rem;
    background-color: #2b2d31;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #1a1b1e;
}

::-webkit-scrollbar-thumb:active {
    background-color: #505050;
}
