body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #a53a30 url("../images/background.webp") no-repeat fixed top center;
    background-size: cover;
}

iframe#menu {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 1000px;
    height: 22px;
    z-index: 9999;
    background-color: rgba(221, 221, 221, 0.5);
}

.blog-width {
    margin-top: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    min-width: 950px;
    height: fit-content;
    min-height: 10px;
}

iframe {
    border: none;
}