body {
    margin: 0;
    padding: 0;
}

div#menu {
    background-color: rgba(0, 0, 0, 0);
    height: 22px;
    overflow: hidden;
}

div#menu div {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
}

div#menu div ul.menu-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div#menu div#left {
    float: left;
    margin-left: 20px;
}

div#menu div#left ul.menu-items li.menu-item {
    display: inline-block;
    float: left;
}

div#menu div#right {
    float: right;
    margin-right: 10px;
}

div#menu div#right ul.menu-items li.menu-item {
    display: inline-block;
    float: right;
}

div#menu div ul.menu-items li.menu-item a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: Arial, sans-serif;
    border: 0 solid;
    border-radius: 0.3rem;
}

div#menu div ul.menu-items li.menu-item a:not(#a-logo) {
    padding: 2px 16px;
}

div#menu div ul.menu-items li.menu-item a#a-logo {
    height: 22px;
    padding-inline: 5px;
    padding-top: 1px;
}

div#menu div ul.menu-items li.menu-item a:hover {
    background-color: rgba(150, 150, 150, 0.5);
}

div#menu div ul.menu-items li:active a {
    background-color: #04AA6D;
}

div#menu div ul.menu-items li:active:hover a {
    background-color: #04724a;
}

img#logo {
    width: 19px;
    height: 19px;
    margin: 0;
    padding: 0;
}